name: Test JVM implementation
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Cache gradle
        uses: actions/cache@v4
        env:
          cache-name: cache-gradle
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            ~/.m2/repository
          key: Android-${{ hashFiles('./gradle/libs.versions.toml', './gradle/wrapper/gradle-wrapper.properties') }}
      - name: Run tests
        run: |
          killall -9 java
          taskset -c 0 ./gradlew jvmTest
      - name: Run ISO mDL tests
        run: |
          cd mobile-driving-licence-credential
          ./gradlew -DregressionTest=true jvmTest  
          cd ..
      - name: Test Report
        uses: dorny/test-reporter@v2
        env:
          NODE_OPTIONS: --max-old-space-size=8192
        if: success() || failure()
        with:
          name: All Tests
          path: '**/build/test-results/**/TEST*.xml'
          list-suites: failed
          list-tests: failed
          reporter: java-junit
          use-actions-summary: true
