name: Test iOS implementation
on: [push]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Cache gradle
        uses: actions/cache@v4
        env:
          cache-name: cache-gradle
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            ~/.m2/repository
          key: iOS-${{ hashFiles('./gradle/libs.versions.toml', './gradle/wrapper/gradle-wrapper.properties') }}
      - name: Build klibs
        run: ./gradlew iosArm64MainKlibrary iosSimulatorArm64MainKlibrary
      - name: Run tests
        run: ./gradlew iosSimulatorArm64Test
      - name: Run ISO mDL tests
        run: |
          cd mobile-driving-licence-credential
          ./gradlew -DregressionTest=true iosSimulatorArm64Test  
          cd ..
      - name: Test Report
        uses: dorny/test-reporter@v2
        env:
          NODE_OPTIONS: --max-old-space-size=8192
        if: success() || failure()
        with:
          name: All Tests
          path: '**/build/test-results/**/TEST*.xml,mobile-driving-licence-credential/mobiledrivinglicence/build/test-results/**/TEST*.xml'
          list-suites: failed
          list-tests: failed
          reporter: java-junit
          use-actions-summary: true
